.row {
  width: 100%;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  content: "";
  line-height: 0;
}
.row:after {
  clear: both;
}
.col-90,
.col-85,
.col-80,
.col-75,
.col-70,
.col-66,
.col-65,
.col-60,
.col-55,
.col-50,
.col-45,
.col-40,
.col-35,
.col-33,
.col-30,
.col-25,
.col-20,
.col-15,
.col-10,
.col-5 {
  float: left;
}
.col-90 {
  width: 90%;
}
.col-85 {
  width: 85%;
}
.col-80 {
  width: 80%;
}
.col-75 {
  width: 75%;
}
.col-70 {
  width: 70%;
}
.col-65 {
  width: 65%;
}
.col-66 {
  width: 66.66666666666666%;
}
.col-60 {
  width: 60%;
}
.col-55 {
  width: 55%;
}
.col-50 {
  width: 50%;
}
.col-45 {
  width: 45%;
}
.col-40 {
  width: 40%;
}
.col-35 {
  width: 35%;
}
.col-33 {
  width: 33.333333333333336%;
}
.col-30 {
  width: 30%;
}
.col-25 {
  width: 25%;
}
.col-20 {
  width: 20%;
}
.col-15 {
  width: 15%;
}
.col-10 {
  width: 10%;
}
.col-5 {
  width: 5%;
}
